@import "_normalize";
@import "_variables";


html {
  box-sizing: border-box;
  font-size: 16px;  
}
@media (min-width: 320px) and (max-width: 1023px) {
  html {
    font-size: 10px;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: rgb(75, 148, 187);
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
}







.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 8px;
  margin: 20px 0;
}

.main__paragraph {
  font-size: 2.51rem;
}


.d,
.h,
.m,
.s {
  font-size: 2.5rem;
}

.main__baby {
  width: 250px;
  height: 500px;
}

@media (min-width: 320px) and (max-width: 1023px) {
  .main__baby {
    width: 100px;
    height: 200px;
  }
}
